.image-link {
	z-index: 1;
	position: relative;
	display: block;
	border-radius: 0.5rem;
}
.image-link::after {
	display: none;
}

.image-link img {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 0.5rem;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
	transition: var(--transition-dom-x-ray), var(--transition-image);
}

.image-link:focus {
	z-index: 2;
}
.image-link:focus img {
	z-index: 2;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
	scale: 1.1;
}

@media (hover: hover) {
	.image-link:hover {
		z-index: 2;
	}
	.image-link:hover img {
		z-index: 2;
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
		scale: 1.1;
	}
}
